.buttons {
    display: flex; 
    justify-content: center; 
  }
  button {
    font-size: 25px;
    background-color: black;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 300px;
    height: 40px; 
    margin: 20px;
  }
  h2{
      text-align: center;
  }
  #Text {
      text-align: center;
      font-size: 25px;
  }
  hr {
    border: 5px solid purple;
    border-radius: 5px;
  }

  .hover, .click {
    display: block;
    margin: auto;
    width: 50%;
  }
